@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.Maincontainer{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: auto !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.5rem;
    color: white;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 730px){
    .nav-link{
        color: black;
    }
}


.nav-link:hover{
    color: wheat;
}


.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
        0 10px 27px rgb(0 0 0 / 55%);
        z-index: 1;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}



#Home{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(back3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content{
    width: 88%;
    height: 100vh;
    align-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    /* z-index: 1; */
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.p1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 34px;
    font-size: 29px;
    padding-bottom: 5px;
    color: white;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    justify-content: center;
}

h1{
    color: #fff;
    font-size: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    color: rgb(243 119 0);
    font-size: 17px;
}




.p2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 34px;
    font-size: 15px;
    color: white;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    align-items: center;
    justify-content: center;
}

.home-pic{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-move img{
    width: 25vw;
    animation: float 4s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(0);
    }
}

.pic{
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: content-box;
    border-radius: 40%;
    padding-top: 50px;
}



.img-move{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 730px){
    #Home{
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 75vh;
    }
}
@media only screen and (max-width: 730px){
    .img-move img{
        width: 26rem;
        height: auto;
        align-items: center;
        justify-content: center;
        display: flex;

    }
}

#Project{
    width: 100%;
    height: auto;
}




.C-list{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: black;
}

.P-t{
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
}

.P-TI{
    color: white;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    text-transform: capitalize;
}

.card{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin: 1rem 1.1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 1rem;
    text-align: center;
    align-self: center;
    flex-direction: column;
}

.card img{
    max-width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card h2{
    font-size: 20px;   
    text-transform: uppercase;
    margin: 10px 0;
    color: #fff;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card p{
    color: white;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}




.in-text{
    width: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;

}

@media only screen and (max-width:730px){
    #Project{
        width: 100%;
        /* height: 100vh; */
        overflow: scroll;
    }
}

@media only screen and (max-width: 730px){
    .C-list{
        height: auto;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;

    }
}

@media only screen and (max-width: 730px){
    .card{ 
        width: 85%;
        height: auto;
        padding: 0px;
        margin: 1.2rem 1.1rem;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


.bttn{
    border: none;
    width: 10rem;
    height: 40px;
    border-radius: 10px;
    margin: 1rem 1rem;
    color: white;
    background-color: transparent;
    font-size: 18px;
}

.bttn a{
    color: #fff;
}

#About{
    width: 100%;
    height: 85vh;
    /* background-color: white; */
    background-image: url(aboutus\ 3.jpg);
    /* background-image: url(about\ us.png); */
    /* background-image: url(ab.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
}



.aboutme{
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    color: black;
}

.aboutme p{
    height: auto;
    display: flex;
    align-items: center;
    width: 44%;
    justify-content: start;
    margin: 0.5rem 2rem;
    font-size: 15px;
    text-align: justify;
}

.aboutme h2{
    height: 2vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;
    margin: 0.5rem 2rem;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media only screen and (max-width: 730px){
    #About{
        width: 100%;
        height: 50%; 
    }

    .aboutme h2{
        font-size: 30px;
    }

    .aboutme p{
        font-size: 12px;
        font-weight: 400;
    }
}